@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #A5A09E;
}

header {

    padding: 10px;
    background-color: rgb(174, 35, 35);
    margin: 30px 15px 0 15px;
    border-radius: 10px 10px 0 0;
}

.navbar ul {
    display: flex;
    gap: 5px;
    list-style: none;
}

.logo img {
    width: 30px;
    height: 30px;
}

#poke {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.principal {
    margin: 0 15px 0 15px;
    padding-top: 30px;
    display: flex;
    height: 390px;
}

#contenedorpokemonName {
    width: 30%;
    background-color: beige;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-left: 12%;
    border-radius: 20px;
    padding: 1%;
    position: relative;
    top: 50%;
}
h1{
    text-transform: capitalize;
}
#contenedorpokemon{
    background-color: none;
    width: 80%;
    height: 35vh;
    justify-content: center;
    display:flex;
}
#contenedorpokemon figure{
    justify-content: center;
    display:flex;
    width: 40%;
    align-items: center;
}
.contenedorpokemon__figure img{
    width: 100%;
    object-fit: cover;
    position: relative;
    left: 100%;
    mix-blend-mode: hard-light;
    filter: drop-shadow(8px 8px 8px rgb(15, 15, 15)) contrast(117%) saturate(133%);
    image-rendering:pixelated;
    
    
}
.contenedorpokemon__figure img:hover{
    transform: scale(1.2);
    z-index: 100;
    mix-blend-mode: exclusion;
    
}

#contenedorpokemon h1 {
    text-transform: uppercase;
    line-height: 50px;
   
}


#imgpokemon {
    display: block;
    margin: auto;
    height: 300px;
}

#lado1 {
    border: #807373;
    width: 60%;
}

#lado2 {
    width: 30%;
    background-color: #807373;
    border-radius: 20px;
    margin-right: 200px;
    margin-top: 2%;
}

.descripcion {
    display: flex;
    gap: 28%;
    margin-left: 28%;
}
.descripcion1 {
    display: flex;
    gap: 18%;
    margin-left: 28%;
}
.descripcion2 {
    display: flex;
    gap: 11%;
    margin-left: 28%;
}

.inf {
    margin-top: 40px;
    list-style: none;
    font-size: 25px;
}
.inf__li{
    font-weight: bold;
}
.pokemonTyp{
text-transform: capitalize;;
}
.pokemonHab{
text-transform: capitalize;;
}
footer {
    padding: 10px;
    height: 120px;
    margin: 0 auto;
    margin: 30px 15px 0 15px;
    border-radius: 0 0 25px 25px;
    background-color: rgb(174, 35, 35);
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 100px;
    height: 100px;
    background-color: #1c1818;
    border-radius: 20px;
}

footer article {
    align-self: auto;
    flex: 1;
}

footer img:hover {
    background-color: #4a4848;
    filter: drop-shadow(2px 2px 4px gold);
}

h2 {
    margin-top: 25px;
    margin-left: 50px;
    font-size: 40px;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    header {
        margin: 5px 5px 5px 5px;

    }

    #contenedorpokemon {
        width: 100%;

    }

    #imgpokemon {
        height: 150px;
    }

    .principal {
        margin: 0 15px 0 15px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        height: 390px;
    }

    #lado1 {
        width: 100%
    }
    #contenedorpokemonName{
        width: 60%;
        top:15%;
        left: 7%;
    }
    .contenedorpokemon__figure img{
        left: auto;
        top: -8%;
    }
    #lado2 {
    width: 68%;
    height: 181px;
    position: absolute;
    top: 42%;
    margin-left: 11%;
    }

    .descripcion {
        display: flex;
        gap: 50px;
        margin-left: 22%;
    }
    .descripcion1 {
        display: flex;
        gap: 29px;
        margin-left: 22%;
    }
    .descripcion2 {
        display: flex;
        gap: 15px;
        margin-left: 22%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 68%;
        width: 60%;
        left: 16%;
        padding-left: 12%;
        padding-right: 12%;
        height: auto;
        border-radius: 2%;
    }
    .inf {
        margin: 10px;
        font-size: 15px;
        box-sizing: none;
    }

    footer img {
        height: 60px;
        width: 50px;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 20px;
        margin: 5px;
    }

}