@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #A5A09E;
}

header {

    padding: 10px;
    background-color: rgb(174, 35, 35);
    margin: 30px 15px 0 15px;
    border-radius: 10px 10px 0 0;
}

.navbar ul {
    display: flex;
    gap: 5px;
    list-style: none;
}

.logo img {
    width: 30px;
    height: 30px;
}

#poke {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.principal {
    margin: 0 15px 0 15px;
    padding-top: 30px;
    display: flex;
    height: 390px;
}

#contenedorpokemon {
    width: 500px;
    background-color: beige;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    border-radius: 20px;
}

#contenedorpokemon img {
    width: 50px;
    height: 50px;
}

#contenedorpokemon h1 {
    text-transform: uppercase;
    line-height: 50px;
}

#imgpokemon {
    display: block;
    margin: auto;
    height: 300px;
}

#lado1 {
    border: #807373;
    width: 60%;
}

#lado2 {
    width: 40%;
    background-color: #807373;
    border-radius: 20px;
    margin-right: 100px;
}


.descripcion {
    display: flex;
    gap: 128px;
    margin-left: 105px;

}

.inf {
    margin-top: 40px;
    list-style: none;
    font-size: 25px;
}

footer {
    padding: 10px;
    height: 120px;
    margin: 0 auto;
    margin: 30px 15px 0 15px;
    border-radius: 0 0 25px 25px;
    background-color: rgb(174, 35, 35);
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 100px;
    height: 100px;
    background-color: #1c1818;
    border-radius: 20px;
}

footer article {
    align-self: auto;
    flex: 1;
}

footer img:hover {
    background-color: #4a4848;
}

h2 {
    margin-top: 25px;
    margin-left: 50px;
    font-size: 40px;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    header {
        margin: 5px 5px 5px 5px;

    }

    #contenedorpokemon {
        width: 100%;

    }

    #imgpokemon {
        height: 150px;
    }

    .principal {
        margin: 0 15px 0 15px;
        padding-top: 30px;
        display: block;
        height: 390px;
    }

    #lado1 {
        width: 100%
    }

    #lado2 {
        width: 100%;
        height: 181px
    }

    .descripcion {
        display: flex;
        gap: 50px;
        justify-content: space-around;
        margin: 0;

    }

    footer {
        display: flex;

        flex-direction: row;
        align-items: center;
    }

    .inf {
        margin: 10px;
        font-size: 15px;
        box-sizing: none;
    }

    footer img {
        height: 60px;
        width: 50px;
        flex-direction: row;
    }

    h2 {
        font-size: 15px;
        margin: 5px;
    }

}